.result{

width:450px;

margin:30px auto;

background:white;

padding:25px;

text-align:center;

border-radius:12px;

box-shadow:0 5px 15px rgba(0,0,0,.1);

}

.result h1{

color:green;

}